<div class="wrap">
  <header class = "gp-header">
    <div class="gp-squeeze">
      <h1 class= "pull--left">Profile</h1>
      <h4 class ="pull--right"> welcome {{user.full_name}}!
        <a href="/logout" class="logout">Logout </a>
      </h4>
    </div>
  </header>
  <div class="nav-wrap">
    <div class="gp-squeeze">
      {{>menu}}
    </div>
  </div>
<div class="content">
<div class="profilePic">
  <img src={{user.profile_picture}} alt="Profile Picture" ></img>
</div>
<div class="profileTextBox">
  <form id="saveData" action="" method="post">
    <input type="hidden" name="_id" value ="{{user._id}}">
    <p><input type="text" name="full_name" value={{user.full_name}} readonly /></p>
    <p><input type="text" name="username" value={{user.username}}  /></p>
    <p><textarea rows="4" cols="50" type="text" id="bio" name="bio" placeholder="test">{{user.bio}}</textarea></p>
    <p><input type="submit" class="button-link" value="SAVE"></p>
  </form>
  {{#if success}}
  <p style="color: green;">
    {{success}}
  </p>
  {{/if}}
</div>
</div>
  <div class="push"></div>
</div>
<footer class = "gp-footer">
  <div class="gp-squeeze">
    <h4>Footer</h4>
  </div>
</footer>
